{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="{% static 'orders/handlebars-v4.0.11.js' %}"></script>
    <title></title>
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">Menu</a>
      {% if login %}
      {{ user.first_name }} {{user.last_name }}

      <a href="{% url 'logout' %}">Log out</a>
      {% else %}
      <a href="{% url 'render_login' %}">Log in</a>
      {% endif %}
    </nav>
    {% block body %} {% endblock %}
  </body>
</html>
